<p>Choose your team</p>
<div class="field">
  Lead Coach: <%= f.collection_select :primary_coach, @coaches, :id, :first_name %>
</div>
<p>The rest of your team:</p>
<div class="field">
  Team Coach: <%= f.collection_select :secondary_coach, @coaches, :id, :first_name %>
</div>
<div class="field">
  Team Coach: <%= f.collection_select :tertiary_coach, @coaches, :id, :first_name %>
</div>
