<div class="text-center">
  <h1>About MyHealthStyle, Inc.</h1>
  <h3>Customer Service First</h3>
  <p class="menu_paragraph">MyHealthStyle, Inc.’s first priority is helping our clients reach their personal HealthStyle goals via holistic, positive behavior change.
  With caring and honest support from our trained MyHealthStyle Coaches and incentives from our website, we strive to create an
  environment of education and hope that enables our clients to thrive.</p>
  <h3>Enabling Coaches to Coach</h3>
  <p class="menu_paragraph">MyHealthStyle Coaches have many different backgrounds; nutritionalist, physical therapist, yoga instructor but they all have two
  things in common - they love helping others and they are all trained and accredited MyHealthStyle Behavioral Change Specialists. MyHealthStyle, Inc. believes in our HealthStyle Coaches. We support them with the training necessary to help our clients make the positive
  changes in their lives but also, we carefully maintain our Coaches client lists so they are not overwhelmed, so our Coaches can also
  maintain a healthy work-life balance.</p>
  <h3>Adapt, Adopt, Anticipate</h3>
  <p class="menu_paragraph">Like life, nothing stays the same forever. Our clients personal HealthStyle goals will change as they reach each milestone. Our
  HealthStyle Coaches will grow in experience. And MyHealthStyle, Inc. will grow and change as each new development in the healthcare
  and wellness industry evolves. From better nutritional advice to new training ideas to exciting new incentives or Client-Coach
  interactions, MyHealthStyle, Inc. will adapt, adopt, and anticipate to remain on the forefront of the wellness industry.</p>
  <h3>Incentives For A Better HealthStyle</h3>
  <p class="menu_paragraph">Sometimes sheer willpower is not enough. MyHealthStyle, Inc. believes the power of the carrot is much stronger than the stick. Which
  is why in addition to our positive behavioral change MyHealthStyle Coaches, we have our MyHealthStyle webpage offering attractive
  incentives for our Clients. This requires HealthStyle to constantly be on the look out for new partnerships with other companies, events,
  and products for our Clients and Coaches. Innovative incentives lead to positive interactions for our MyHealthStyle Clients ensuring a
  positive experience. </p>
</div>
<div class="well well-lg">
  <h1>Support</h1>

  <h4>MyHealthStyle's sole purpose is to support our customers with rapport and empathy in reaching their health and wellness goals.</h4>

  <p class="menu_paragraph">> If you are having difficulties with our web-app, please feel free to use our chat service in the lower right hand corner.</p>

  <p class="menu_paragraph">> If you would like additional information, or have questions about our coaches, services, or your subscription, please email:</p>

  <p class="menu_paragraph"><b>&nbsp; &nbsp; &nbsp;&nbsp;info@myhealthstyleinc.com</b></p>
</div>
<div class="text-center">
  <a href="https://app.xtensio.com/folio/nieqnxrc">Company Information</a>
</div>
<script>
  window.intercomSettings = {
    app_id: "rznrsm2q"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/rznrsm2q';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
