<br><p class="text-center">Please meet some of our HealthStyle coaches!</p>

<table class="table table-responsive table-hover team">
  <% @coaches.each do |coach| %>
    <tr>
      <td>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><%= coach.first_name %></h3>
          </div>
          <div class="panel-body">
            <% if coach.avatar.present? %>
              <img src="<%= coach.avatar %>" class="img-responsive">
            <% end %>
          </div>
          <div class="panel-body-right">
            <p class="coach-text"><%= coach.philosophy %></p>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
</table>
<div class="text-center">
  <p>Ready to get started?</p>

  <%= link_to "Sign up today!", new_user_registration_path, class: "btn btn-info" %>
</div>
