<div class="well well-lg col-sm-12">
  <div id="inspo_title">
    <% if @recipe["field_6_raw"] %>
      <h3><%= @recipe["field_6_raw"].capitalize %></h3><br/><br/>
    <% end %>
  </div>
  <div class="col-sm-12 text-center">
    <%= link_to (image_tag(@recipe["field_31_raw"], class: "img-responsive")), @recipe["field_4_raw"]["url"], target: "_blank" %>
    <h4>Click on the photo to head to the recipe page or refresh the page to see another recipe.</h4>
  </div>
</div>
