


<div class="col-sm-12 col-md-8 text-center">

<%= image_tag "testimonial2.jpg", class: "main-image testimonials"%>

</div>
<div class="col-sm-12 col-md-4 text-center testimonials-text">
  <p>My coach seems to know right when I needed help. Like, she will send me a message at lunch time to remind me to stay away from the sweet tea I love so much. It is very nice knowing someone is keeping up on me. It makes me behave a little more knowing she has eyes in the back of her head like my mother, lol.</p>
  <p>MW, age 17</p>
</div>
<div class="col-sm-12 col-md-8 text-center">

<%= image_tag "testimonial1.jpg", class: "main-image testimonials"%>
</div>
<div class="col-sm-12 col-md-4 text-center testimonials-text">
  <p>I tried this because I don’t really want to be out in front of other people. I want to feel better about myself before I head to the gym. So far it’s really helped me plan some of my meals better. With my schedule, it’s just easier to order out or pick something up. Now I’m up to cooking dinner and a leftover lunch twice a week. It’s going well and my coaches are really nice.</p>
  <p>AE, age 43</p>
</div>
