nav.messages {
  background: #fcfcfc;
  border-bottom: 1px solid #eee;
  margin: 0 -15px;
  padding: 0 8px;
}
nav.messages div.nav {
  padding-top: 10px;
}
nav.messages div.nav div.details {
  text-align: right;
}
nav.messages div.nav div.name {
  font-weight: bold;
  font-size: 1.1em;
}
nav.messages li {
  line-height: 1.5em;
  vertical-align: middle;
}
nav.messages .fa {
  font-size:1.8em;
  font-weight: bold;
  display: inline-block;
}
nav.messages span {
  position:relative;
  top:-2px;
  margin:0 5px;
}
div.chat div.time {
  font-size:0.7em;
  font-weight:600;
  color:#ccc;
  text-align:right;
}
div.chat {
  background: #fff;
  margin: 8px 0 0;
  position: relative;
  padding: 15px 8px 5px;
  margin: 0 -15px;
}
div.chat div.msgtext-right {
  text-align: right;
  right: 0;
}
div.chat div.msgtext {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  margin: 0;
  border-radius: 1em;
  background: #ccc;
}
div.chat div.msg {
  position:relative;
}
div.chat div.msg.send {
  text-align:right;
}
div.chat div.msg.send div.msgtext {
  background:#FF6600;
  color:#fff;
  border-bottom-right-radius:0;
  margin-right:9px;
}
div.chat div.msg.send div.time {
  text-align:right;
}
div.chat div.msg.receive {
  text-align:left;
}
div.chat div.msg.receive div.msgtext {
  border-bottom-left-radius:0;
  margin-left:8px;
}
div.chat div.msg.receive div.time {
  text-align:left;
}
.msg.receive div.msgtext:before {
  border-bottom: 10px solid #ccc;
  border-left: 9px solid rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0;
  left: -8px;
  content: "";
}
.msg.send div.msgtext:before {
  border-bottom: 9px solid #ff6600;
  border-right: 9px solid rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0;
  right: -8px;
  content: "";
}
div.sendmsg {
  height:73px;
  padding:13px 15px;
  border:1px solid #ccc;
  border-width:1px 0;
  position:absolute;
  bottom:0;
  width:100%;
}
div.sendmsg div.actions {
  margin:0;
  padding:0;
  text-align:center;
  height:55px;
  vertical-align:middle;
}
div.sendmsg div.field {
  margin:0;
  padding:0;
  height:55px;
}
div.sendmsg div.field textarea {
  margin-left:5px;
  padding:4px;
}
div.sendmsg div.upload {
  padding:0;
  height:55px;
  text-align:center;
}
div.sendmsg div.upload .fa {
  margin-top:12px;
  padding-right:12px;
  display:inline-block;
  height:55px;
  font-size:3.2vh;
  color:#999;
}
div.sendmsg div.actions {
   padding-left:11px;
}
div.sendmsg div.actions input {
  padding:0 8px;
  margin:0;
  color:#FF6600;
  background:transparent;
  height:50px;
  border:0;
  outline:0;
  font-weight:bold;
  font-size:2.2vh;
  display:inline-block;
}
#receive {
  background: #38e51d !important;
}
