.subheader {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu_paragraph {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#inspiration_img {
  width:100%;
  max-width:300px;
  display: block;
  margin: auto;
  margin-bottom: 1em;
}

#inspo_title {
  text-align: center;
}
