// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#show-page-avatar {
  max-width: 450px;
}
#index-page-avatar {
  max-width: 40px;
}
.table-items {
  border: 1px solid black;
}
.index-table-header {
  padding: 0 5px;
  @extend .table-items
}
