.three-coaches {
  padding: 0;
}

.mobile-learn-more {
  padding-top: 5px;
}
.long-term {
  padding-bottom: 0;
}
.learn-more-button {
  padding-bottom: 5px;
}
.orange-font {
  color: #FF6600;
  font-weight: bold;
  &.mobile {
    font-size: 10vw;
    &.larger-letters {
      font-size: 20vw;
    }
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.price-chart {
  width: 100%;
  margin: 0;
}
.jumbotron.welcome {
  padding: 0;
}
ul.nav.welcome {
  text-align:right;
  list-style-type: none;
  padding:0;
  margin:0;
}
button.btn {
  background-color: #FF6600;
  color: #FFFFFF !important;
  font-family: verdana, arial, helvetica, sans-serif;
}
.sign-up-text {
  color: #FFFFFF;
}
.arrow {
  padding-bottom: 20px;
}
.nav-bar-avatar {
  max-height: 40px;
}
.nav-bar-avatar:hover {
  opacity: 40%;
}
.sign-up-button-group {
  padding-bottom: 25px;
  margin: 0;
}
ul.nav.welcome li {
  display: inline-block;
}
ul.nav.welcome li a {
  display: inline-block;
  padding:10px 0;
  margin:0;
  color:#FF6600;
}
ul.nav.welcome li.divider {
  color:#e6e6e6;
}
div.h2 span.tagline {
  display:inline-block;
  margin-bottom:5px;
  white-space: nowrap;
  font-size:20vw;
  color: #FF6600;
  font-weight: bold;
}
div.learn-more {
  margin-top:78px;
}
div.learn-more h2 {
  margin-bottom:18px;
}
div.learn-more p {
  font-size:4.1vw;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 15px;
}
@media (min-width: 568px) {
  div.learn-more p {
    font-size:2.5vw;
  }
}
@media (min-width: 736px) {
  div.learn-more p {
    font-size:1.8vw;
  }
}
@media (min-width: 1024px) {
  div.learn-more p {
    font-size:1.3vw;
    padding: 15px;
    line-height: 1.3;
  }
}
@media (max-width: 1024px) {
  .mobile_hide {
    display: none;
  }
}
