.three-coaches {
  padding-top: 5px;
  h3 {
    line-height: .7;
  }
}
.benefits-carousel {
  padding: 0;
  margin: 0;
}
.why-heading {
  font-size: 3em;
}
.reason-why {
  font-size: 1.5em;
}
.long-term {
  padding-bottom: 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
}
.reason-why-white {
  color: white;
  font-size: 1.5em;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.price-chart {
  width: 100%;
  margin: 0;
}
.jumbotron.welcome {
  padding: 0;
}
ul.nav.welcome {
  text-align:right;
  list-style-type: none;
  padding:0;
  margin:0;
}
button.btn {
  background-color: #FF6600;
  color: #FFFFFF !important;
  font-family: verdana, arial, helvetica, sans-serif;
}
.sign-up-text {
  color: #FFFFFF;
}
.arrow {
  padding-bottom: 20px;
}
.nav-bar-avatar {
  max-height: 40px;
}
.nav-bar-avatar:hover {
  opacity: 40%;
}
.sign-up-button-group {
  padding-bottom: 25px;
  margin: 0;
}
ul.nav.welcome li {
  display: inline-block;
}
ul.nav.welcome li a {
  display: inline-block;
  padding: 10px 0;
  margin: 0;
  color: #FF6600;
}
ul.nav.welcome li.divider {
  color:#e6e6e6;
}
div.h2 span.tagline {
  display: inline-block;
  margin-bottom: 5px;
  white-space: nowrap;
}
.font-white {
  color: white;
}
.orange-font {
  color: #FF6600;
}
.mail-info {
  padding: 15px;
}
#fifth-button-group {
  padding: 25px 0 0 40px;
}
@media (max-width: 568px) {
  #first-learn-more {
    background-image: url(reach-your-potential-mobile.jpg);
    vertical-align: middle;
    font-weight: normal;
    height: 100vh;
    &.learn-more {
      padding-top: 20vh 0 0 20vh;
      font-size: .8em;
      background-size: 100% auto;
      background-repeat: no-repeat;
    }
  }
  #second-learn-more {
    background-image: url(phone-on-table-mobile.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    vertical-align: middle;
    color: white;
    font-weight: normal;
    &.learn-more {
      padding-top: 20vh 0 0 20vh;
      font-size: .8em;
      background-size: 100% auto;
      background-repeat: no-repeat;
    }
  }
  #third-learn-more {
    background-color: #0B090B;
    height: 100vh;
    margin: auto;
    font-weight: normal;
  }
  #fourth-learn-more {
    background-image: url(time-and-money-mobile.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    vertical-align: middle;
    color: white;
    font-weight: normal;
    background-repeat: no-repeat;
    background-size: 90vh auto;
    &.learn-more {
      padding-top: 20vh 0 0 20vh;
      font-size: .8em;

    }
  }
  #fifth-learn-more {
    background-image: url(sunset-photo.jpg);
    vertical-align: middle;
    font-weight: normal;
    color: white;
    height: auto;
    &.learn-more {
      padding-top: 20vh 0 0 20vh;
      font-size: .8em;
      background-size: 100% auto;
      background-repeat: no-repeat;
    }
  }
  #welcome {
    padding-bottom: 25px;
    height: 100vh;
  }
  #main-image-div {
    padding: 0;
    & img {
      width: 90%;
    }
  }
  #second-button-group {
    padding-bottom: 15px;
  }
  .bottom-line {
    font-weight: bold;
    font-size: 8vw;
  }
  .heading {
    margin: 0;
    font-size: 3em;
    font-weight: bold;
  }
  #myCarousel > div > div.item.active > p {
    font-size: 3em;
  }
}
@media (min-width: 568px) {
  #first-learn-more {
    background-image: url(reach-your-potential.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 100vh;
    max-height: 800px;
  }
  #second-learn-more {
    background-image: url(phone-on-table.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin:0;
    padding-top: 0;
    padding-bottom: 15px;
    font-weight: normal;
    height: 100vh;
    max-height: 800px;
    color: white;
  }
  #third-learn-more {
    background-image: url(workout-woman.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 100vh;
    max-height: 800px;
    padding-top: 5%;
  }
  #fourth-learn-more {
    background-image: url(time_and_money.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin:0;
    padding-top: 0;
    padding-bottom: 15px;
    font-weight: normal;
    height: 100vh;
    max-height: 800px;
    color: white;
  }
  #fifth-learn-more {
    background-image: url(sparks.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 100vh;
    max-height: 800px;
    color: white;
    font-weight: bold;
  }
  #main-image-div {
    padding: 0;
  }
  #welcome {
    height: 100vh;
    max-height: 800px;
  }
  #learn-more-right {
    font-size: 1em;
    padding: 9%;
  }
  .bottom-line {
    font-weight: bold;
    font-size: 3vw;
  }
  .heading {
    margin: 0;
    font-size: 6em;
    font-weight: bold;
  }
  img#main-image {
    width: 30%;
  }
  #myCarousel > div > div.item.active > p {
    font-size: 3em;
  }
}
