<div class="text-center">
  <p><%= Time.now.strftime("%A %B %d, %Y") %></p>

  <h2>Hi <%= @user_name %>. Welcome To MyHealthStyle!</h2>

  <p>We are thrilled you’ve chosen to partner with MyHealthStyle, Inc. In the next few days and weeks, you
  will join a trusted community of kind, supportive coaches and health-oriented peers who all have one
  goal - a better healthier life.</p>

  <h3>What Does A Healthier Life Mean?</h3>

  <p>At MyHealthStyle, Inc., it means no judgement, no agenda and no shame. Your HealthStyle Coaches
  are here to guide you to a better, healthier you. That does not mean a 24” waist or running a 5K a week.
  That means what YOU need it to be. What works best for you, your life, and your health.
  Here, you will be uplifted and supported. Nurtured and awakened. By health guides, not bullies.</p>

  <h3>How Do MyHealthStyle Coaches Help?</h3>

  <p>Our coaches are licensed and certified in their respective fields, bringing you the knowledge and
  experience you can depend on for a personal and meaningful behavioral change. Changes that lead to
  lasting weight loss and improved health and well-being.</p>

  <p>Soon MyHealthStyle, Inc. will alert you via text and email that your HealthStyle Coaches have been
  assigned to you. Once you hear from us, log on, and take the first steps to a healthier you.
  We can’t wait to take this journey together.</p>

  <p>Your Team at MyHealthStyle, Inc.</p>

  <p><a href="http://www.myhealthstyleapp.com/abouts/terms">Click here for Terms of Use and Terms of Service.</a></p>
  <div>
    <%= image_tag attachments['photo.jpg'].url, class: "email-logo" %>
  </div>
